/* 初始化 */
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}
input{
    background:none;  
	outline:none;  
	border:none;
}
/* 顶部信息 */
.top-logo{
    width: 1220px;
    height: 82px;
    margin: 20px auto;
    min-width: 1220px;
}
.logo{
    width: 501px;
    height: 77px;
    float: left;
}
.logo img{
    height: 100%;
    float: left;
}
.right-info{
    float: right;
    width: 201px;
    height: 100%;
}
.right-info p{
    width: 100%;
    height: 26px;
    margin-bottom: 15px;
    line-height: 26px;
    font-family: "\5fae\8f6f\96c5\9ed1","Hiragino Sans GB","Arial","tahoma";
    font-size: 12px;
    text-align: right;
}
.right-info p a{
    color: #999999;
}
.right-info p .active{
    color: #007538;
}
.QRcode{
    float: right;
    width: 65px;
    height: 65px;
    margin: 10px;
}

/* 导航栏 */
.nav{
    background: #00753b;
    width: 100%;
    height: 44px;
    min-width: 1220px;
}
.nav-item{
    width: 1220px;
    height: 100%;
    margin: 0 auto;
}
.nav-item li{
    font-size: 14px;
    line-height: 44px;
    padding: 0 40px;
    float: left;
    border-right: 1px solid #015429;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.nav-item li:hover{
    overflow: visible;
}
.nav-hidden2{
    width: 200px;
    position: absolute;
    top: 44px;
    left: 0;
    /* height: 100px; */
    background: #015429;
    z-index: 1;
}
.nav-hidden2 a{
    line-height: 30px;
    display: block;
    margin: 10px 0;
    padding-left: 15px;
}
.nav-hidden2 a:hover{
    background: #fff;
    color: #007538;
}
.nav-item li:hover{
    background-color: #015429;
}
.nav-item .nav-active{
    background-color: #015429;
}
.nav-item li a{
    color: #fff;
}
/* 搜索框 */
.search{
    width: 1220px;
    height: 44px;
    margin: 0 auto;
    position: relative;
}
.search-box{
    width: 143px;
    height: 26px;
    margin-top: 8px;
    border: 1px solid #BFBFBF;
    border-right: 0;
    border-radius: 16px 0 0 16px;
    background-color: #D8D7D7;
    float: left;
}
.search-text{
    line-height: 24px;
    font-size: 14px;
    height: 26px;
    width: 131px;
    padding-left: 12px;
}
.search-btn{
    float: left;
    width: 32px;
    height: 26px;
    border: 1px solid #BFBFBF;
    border-radius: 0 16px 16px 0;
    margin-top: 8px;
    background-color: #D8D7D7;
    cursor: pointer;
}
.search-btn img{
    width: 24px;
    height: 24px;
    margin-top: 1px;
    margin-left: 3px;
}
.function{
    width: auto;
    height: 26px;
    margin-top: 8px;
    float: right;
    margin-right: 180px;
}
.function ul li{
    float: left; 
}
.function ul li .bannk{
    width: 1px;
    height: 16px;
    background-color: #666666;
    margin: 4px 1px;
}
.function ul .function-content{
    color: #333333;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 15px;
    position: relative;
    overflow: hidden;
}
.function ul .function-content:hover{
    overflow: visible;
    background-color: #015429;
    color: #fff;
}
.function ul .function-content:hover span{
    color: #fff !important;
}
.function-content-hidden{
    position: absolute;
    top: 24px;
    left: 0;
    width: 180px;
    height: auto;
    background: #015429;
    /* display: none; */
    z-index: 1;
}
.function-content-hidden ul{
    padding: 2px 0;
}
.function-content-hidden ul li{
    width: 100%;
    /* padding-left: 12px; */
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
}
.function-content-hidden ul li:hover{
    color: #015429;
    background: #fff;
}
/* 轮播图 */
.banner{
    width: 100%;
    height: 582px;
    /* overflow: hidden; */
    position: relative;
}
.imglist{
    width: 300%;
    height: 100%;
    /* margin-left: 100%; */
}
.imglist div{
    width: 33.3333%;
    height: 100%;
    float: left;
}
.btnslist{
    width: 90px;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    /* background: #000; */
    z-index: 1;
}
.btnslist li{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 10px;
    margin-right: 10px;
    float: left;
    z-index: 1;
    cursor: pointer;
}
/* 栏目 */
.item-box{
    width: 1220px;
    height: 445px;
    margin: 0 auto;
    margin-top: 20px;
}
.item1{
    margin-top: 10px;
    cursor: pointer;
    width: 384px;
    height: auto;
    box-shadow:0px 2px 8px 0px rgba(0,0,0,0.09);
    margin-left: 20px;
    float: left;
}
.item2{
    margin-top: 10px;
    cursor: pointer;
    width: 384px;
    height: auto;
    box-shadow:0px 2px 8px 0px rgba(0,0,0,0.09);
    margin-left: 20px;
    float: left;
}
.item3{
    margin-top: 10px;
    cursor: pointer;
    width: 384px;
    height: auto;
    box-shadow:0px 2px 8px 0px rgba(0,0,0,0.09);
    margin-left: 20px;
    float: left;
}
.img-box{
    width: 384px;
    height: 218px;
    overflow: hidden;
    margin-top: 30px;
}
.img-box img{
    transition:all 1s ease-out;
}
.img-box img:hover{
    transform: scale(1.2);
}
.item-content{
    line-height: 30px;
    padding: 5px 20px 45px;
    color: #777777;
    font-size: 14px;
}
.item-title{
    line-height: 24px;
    color: #000000;
    font-size: 20px;
    padding: 25px 20px 20px;
}
.item-title img{
    margin-right: 8px;
}

/* 案例 */
.case{
    width: 100%;
    height: 584px;
    background-color: #F7F8F9;
    margin-top: 50px;
}
.case-content{
    width: 1220px;
    height: 100%;
    margin: 0 auto;
}
.case-item1{
    width: 816px;
    height: 488px;
    /* background: #fff; */
    float: left;
}
.case-item1-title{
    width: 80px;
    height: 26px;
    margin: 0 auto;
    padding-top: 20px;
    color: #333333;
    font-size: 20px;
}
.case-item1-font{
    display: block;
    margin-top: 5px;
    width: 100%;
    font-size: 12px;
    color: #999999;
    line-height: 18px;
    text-align: center;
}
.case-item1-cont{
    margin-top: 20px;
    width: 792px;
    height: 415px;
    background: #ffffff;
    box-shadow:0px 2px 8px 0px rgba(0,0,0,0.09);
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.item1btnslist{
    width: 45px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    right: 5px;
    /* background: #000; */
    z-index: 1;
}
.item1btnslist li{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 5px;
    float: left;
    background: #ccc;
}
.case-item1-box{
    width: 300%;
    height: 100%;
}
.case-item1-img{
    width: 528px;
    float: left;
    height: 100%;
}
.case-item1-img img{
    width: 100%;
}
.case-item1-jieshao{
    width: 264px;
    float: left;
    height: 100%;
    /* background: #000; */
}
.case-jieshao-title{
    margin: 60px 5px 15px 5px;
    font-size: 16px;
    color: #333333;
    line-height: 20px;
}
.case-jieshao-link{
    width: 50px;
    height: 1px;
    background: #cccccc;
    margin-left: 5px;
    transition: width 1s ease;
}
.case-jieshao-neirong{
    margin-top: 15px;
    padding-left: 5px;
    font-size: 14px;
    line-height: 26px;
    color: #666666;
}
.case-item2{
    width: 380px;
    height: 488px;
    margin-left: 20px;
    float: left;
    /* background-color: #fff; */
}
.case-item2-cont{
    margin-top: 20px;
    width: 383px;
    height: 415px;
    background: #ffffff;
    box-shadow:0px 2px 8px 0px rgba(0,0,0,0.09);
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.item2btnslist{
    width: 45px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    right: 5px;
    /* background: #000; */
    z-index: 1;
}
.item2btnslist li{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 5px;
    float: left;
    background: #ccc;
}
.case-item2-box{
    width: 300%;
    height: 100%;
}
.item2-lists{
    width: 383px;
    height: 100%;
    float: left;
}
.item2-lists img{
    width: 100%;
    height: 230px;
}
.case-item2-data{
    font-size: 14px;
    color: #cccccc;
    line-height: 14px;
    padding: 10px;
}
.case-item2-title{
    font-size: 16px;
    color: #666666;
    line-height: 16px;
    padding: 0 10px;
}
.case-item2-neirong{
    font-size: 14px;
    color: #999999;
    padding: 15px 10px 0 10px;
    line-height: 20px;
}
.item2-lists img{
    transition:all 1s ease-out;
}
.item2-lists img:hover{
    transform: scale(0.8);
}
/* 底部 */
.bottom-copyright{
    width: 100%;
    height: 46px;
    background-color: #00753B;
    min-width: 1220px;
}
.copyright-content{
    width: 1220px;
    height: 100%;
    margin: 0 auto;
}
.copyright-content span{
    display: block;
    font-size: 12px;
    height: 100%;
    text-align: right;
    color: #dddddd;
    line-height: 46px;
    float: left;
    padding-left: 300px;
}
.copyright-content .share{
    padding-left: 30px;
}
.copyright-content img{
    margin-top: 16px;
}
