/* 初始化 */
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}
input{
    background:none;  
	outline:none;  
	border:none;
}
/* 顶部信息 */
.top-logo{
    width: 1220px;
    height: 82px;
    margin: 20px auto;
    min-width: 1220px;
}
.logo{
    width: 501px;
    height: 77px;
    float: left;
}
.logo img{
    height: 100%;
    float: left;
}
.right-info{
    float: right;
    width: 201px;
    height: 100%;
}
.right-info p{
    width: 100%;
    height: 26px;
    margin-bottom: 15px;
    line-height: 26px;
    font-family: "\5fae\8f6f\96c5\9ed1","Hiragino Sans GB","Arial","tahoma";
    font-size: 12px;
    text-align: right;
}
.right-info p a{
    color: #999999;
}
.right-info p .active{
    color: #007538;
}
.QRcode{
    float: right;
    width: 65px;
    height: 65px;
    margin: 10px;
}

/* 导航栏 */
.nav{
    background: #00753b;
    width: 100%;
    height: 44px;
    min-width: 1220px;
}
.nav-item{
    width: 1220px;
    height: 100%;
    margin: 0 auto;
}
.nav-item li{
    font-size: 14px;
    line-height: 44px;
    padding: 0 40px;
    float: left;
    border-right: 1px solid #015429;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.nav-item li:hover{
    overflow: visible;
}
.nav-hidden2{
    width: 200px;
    position: absolute;
    top: 44px;
    left: 0;
    /* height: 100px; */
    background: #015429;
    z-index: 1;
}
.nav-hidden2 a{
    line-height: 30px;
    display: block;
    margin: 10px 0;
    padding-left: 15px;
}
.nav-hidden2 a:hover{
    background: #fff;
    color: #007538;
}
.nav-item li:hover{
    background-color: #015429;
}
.nav-item .nav-active{
    background-color: #015429;
}
.nav-item li a{
    color: #fff;
}
/* 搜索框 */
.search{
    width: 1220px;
    height: 44px;
    margin: 0 auto;
    position: relative;
}
.search-box{
    width: 143px;
    height: 26px;
    margin-top: 8px;
    border: 1px solid #BFBFBF;
    border-right: 0;
    border-radius: 16px 0 0 16px;
    background-color: #D8D7D7;
    float: left;
}
.search-text{
    line-height: 24px;
    font-size: 14px;
    height: 26px;
    width: 131px;
    padding-left: 12px;
}
.search-btn{
    float: left;
    width: 32px;
    height: 26px;
    border: 1px solid #BFBFBF;
    border-radius: 0 16px 16px 0;
    margin-top: 8px;
    background-color: #D8D7D7;
    cursor: pointer;
}
.search-btn img{
    width: 24px;
    height: 24px;
    margin-top: 1px;
    margin-left: 3px;
}
.function{
    width: auto;
    height: 26px;
    margin-top: 8px;
    float: right;
    margin-right: 180px;
}
.function ul li{
    float: left; 
}
.function ul li .bannk{
    width: 1px;
    height: 16px;
    background-color: #666666;
    margin: 4px 1px;
}
.function ul .function-content{
    color: #333333;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 15px;
}
.function ul .function-content:hover{
    background-color: #015429;
    color: #fff;
}
.function-content-hidden{
    position: absolute;
    top: 44px;
    right: 264px;
    width: 180px;
    height: auto;
    background: #015429;
    display: none;
}
.function-content-hidden ul{
    padding: 2px 0;
}
.function-content-hidden ul li{
    width: 100%;
    padding-left: 12px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
}
.function-content-hidden ul li:hover{
    color: #015429;
    background: #fff;
}
.banner{
    width: 100%;
    height: 510px;
}
/* 层级标签 */
.floor-label{
    width: 1220px;
    height: auto;
    margin: 0 auto;
    font-size: 12px;
    line-height: 16px;
    position: relative;
}
.floor-label a{
    color: #888888;
}
.floor-label a:hover{
    color: #ff0000;
}
.floor-label ul{
    position: absolute;
    left: 0;
    top: 16px;
    width: 900px;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #999999;
}
.floor-label ul li{
    margin-right: 20px;
    color: #666666;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
}
.floor-label ul li a:hover{
    color: #00753b;
}
.floor-label ul li .active{
    color: #00753b;
}
.introduce{
    width: 900px;
    height: 100px;
    /* background: #000; */
    position: absolute;
    left: 0;
    top: 65px;
}
.introduce-title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #76923C;
    padding: 20px 0;
    font-weight: bold;
    border-bottom-color:rgb(204, 204, 204);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.introduce-paragraph1{
    padding: 15px 0;
    font-size: 16px;
    color: #999999;
    line-height: 30px;
}
.introduce-paragraph2{
    padding: 5px 0;
    font-size: 16px;
    color: #999999;
    line-height: 30px;
}
.introduce-paragraph2 .paragraph-title{
    width: 100%;
    display: block;
    color: #76923c;
}

/* 底部 */
.bottom-copyright{
    margin-top: 700px;
    width: 100%;
    height: 46px;
    background-color: #00753B;
    min-width: 1220px;
}
.copyright-content{
    width: 1220px;
    height: 100%;
    margin: 0 auto;
}
.copyright-content span{
    display: block;
    font-size: 12px;
    height: 100%;
    text-align: right;
    color: #dddddd;
    line-height: 46px;
    float: left;
    padding-left: 300px;
}
.copyright-content .share{
    padding-left: 30px;
}
.copyright-content img{
    margin-top: 16px;
}
